<form method="post" action="/grabar">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" placeholder="Nombre del comic" id="nombre" name="nombre">
  </div>
  <div class="form-group">
    <label for="imagen">Imagen:</label>
    <input type="text" class="form-control" placeholder="Url de la imagen" id="imagen" name="imagen">
  </div>
  <div class="form-group">
    <label for="poder">Poderes:</label>
    <input type="text" class="form-control" placeholder="Cual es su gracia" id="poder" name="poder">
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
